.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/element-like.svg);
    background-color: white;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: none;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.element__like:active {
    color: black;
}