.profile {
    display: flex;
    padding-top: 38.25px;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .profile {
        padding-top: 36.25px;
        flex-direction: row;
        padding-left: 200px;
        padding-right: 200px;
        flex-direction: row;
        justify-content: space-between;
    }
}