.popup__close-button {
    position: absolute;
    top: 87px;
    right: 19px;
    background-image: url(../../../images/close-button.svg);
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-size: cover;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    .popup__close-button {
        top: 155px;
        right: 385px;
        width: 32px;
        height: 32px;
    }
}