.popup__save-button {
    width: 238px;
    height: 46px;
    border: none;
    background-color: black;
    cursor: pointer;
    /* 
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}